{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Genos:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Buses</title>
    <style>
        .selected {
            background-color: blue !important;
        }
    </style>
</head>

<body class="bg-light">
    <header>

    </header>
    <section>
        <div class="container-fluid" style="background-color: #551615;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-0" style="background-color: #551615;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-5">
                                    <div class="input-group" style="overflow: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: white;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3" />
                                                    <path
                                                        d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1" />
                                                </svg>
                                            </span>

                                        </div>
                                        <input class="form-control form-1 shadow-none" list="datalistOptions"
                                            id="exampleDataList" placeholder="From Station">

                                        <datalist id="datalistOptions">
                                            <option value="San Francisco">
                                            <option value="New York">
                                            <option value="Seattle">
                                            <option value="Los Angeles">
                                            <option value="Chicago">
                                        </datalist>
                                    </div>

                                </div>
                                <div class="col-md-1 text-center col-2">
                                    <button type="button" class="btn btn-secondary" fdprocessedid="ra61de">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-md-3  col-5">
                                    <div class="input-group" style="overflow: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: white;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                                                </svg>
                                            </span>

                                        </div>
                                        <input class="form-control form-1 shadow-none" list="datalistOptions"
                                            id="exampleDataList" placeholder="To Station">

                                        <datalist id="datalistOptions">
                                            <option value="San Francisco">
                                            <option value="New York">
                                            <option value="Seattle">
                                            <option value="Los Angeles">
                                            <option value="Chicago">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 mt-4 mt-md-0">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: white;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                                    <path
                                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                                </svg>
                                            </span>

                                        </div>

                                        <input class="form-control form-1 shadow-none" type="date" list="travelDate"
                                            id="travelDate" placeholder="Choose Date">
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 ser col-6 mt-4 mt-md-0">
                                    <div class="search_button">
                                        <div class="input-group b1">
                                            <div class="input-group-prepend b2">
                                                <button type="button" class="btn btn-danger ser">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-3">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="background-color: #f4f4f4;">
                                    <div class="row">
                                        <div class="d-flex col-12">
                                            <h5 style="font-size: small;">Bus Type</h5>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row gap-2"
                                        style="align-items: center; justify-content: center; display: flex;">
                                        <div class="col-md-2" style=" box-sizing: border-box;">
                                            <button type="button" class="btn"
                                                style="background-color: white; font-size: small;">
                                                <span class="material-symbols-outlined">
                                                    mode_fan
                                                </span>
                                                <span>
                                                    AC</span>
                                            </button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn"
                                                style="background-color: white; font-size: small;">
                                                <span class="material-symbols-outlined">
                                                    mode_fan_off
                                                </span>
                                                <span>Non AC</span>
                                            </button>
                                        </div>

                                        <div class="col-md-2" style=" box-sizing: border-box;">
                                            <button type="button" class="btn"
                                                style="background-color: white; font-size: small;">
                                                <span class="material-symbols-outlined">
                                                    airline_seat_flat
                                                </span>
                                                <span>Sleeper</span>
                                            </button>
                                        </div>
                                        <div class="col-md-2" style=" box-sizing: border-box;">
                                            <button type="button" class="btn"
                                                style="background-color: white; font-size: small;">
                                                <span class="material-symbols-outlined">
                                                    airline_seat_flat
                                                </span>
                                                <span>Sleeper</span>
                                            </button>
                                        </div>





                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-9">
                <div class="container">
                    <div class="row">
                        <!--for loop starting-->
                        {% for x in data %}
                        <div class="card" style="width: 95%;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex col-md-3">
                                        <span>
                                            <h5 class="travels" style="font-size: larger;"><b>{{x.bus_name}}</b></h5>
                                            <br>{{x.bus_type}}

                                        </span>
                                    </div>

                                    <div class="d-flex flex-wrap col-md-6 align-items-center text-center">
                                        <ul class="list-inline">
                                            <li class="list-inline-item" style="font-size: large;"><b>20.30</b> 10 FEB
                                            </li>
                                            <li class="list-inline-item"> -- 09 hrs 45 mins --</li>
                                            <li class="list-inline-item" style="font-size: large;"><b>06.15</b> 11 FEB
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3"
                                        style="align-items: center; justify-content: center; display: flex;">
                                        <h5><span>&#8377</span><b>{{x.fares}}</b></h5>
                                    </div>

                                </div>




                                <div class="row">
                                    <div class="col-12">
                                        <div class="hstack gap-3">
                                            <div class=" border-0" style="font-size: small; color: black;">20 Ratings
                                            </div>
                                            <div class=" border-0 ms-auto" style="font-size: small; color: black;">20
                                                Seats Left</div>
                                            <div class="vr"></div>
                                            <div class=" border-0" style="font-size: small; color: black;">10 Window
                                                Seats</div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="hstack gap-3">
                                            <div class="border-0">First item</div>
                                            <div class="border-0">Second item</div>
                                            <div class=" border-0 ms-auto"><button class="btn btn-danger" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    Show Seats
                                                </button></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="hstack gap-3">
                                                            <div class="border-0"><b>20 seats available</b>
                                                                <br>Click seat to select or deselect
                                                            </div>
                                                            <div class=" border-0 ms-auto"> INFO</div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--------------------------------------------------Seat Selection-------------------------------------------->
                                                <div class="row mt-4">
                                                    <div class=" col-md-6">
                                                        <div class="container-fluid"
                                                            style="display: flex; align-items: center; justify-content: center;">
                                                            <table class="table-responsive border-danger"
                                                                style="background-color: gray; line-height: 50px; width: 50%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" colspan="5"></th>
                                                                        <th scope="col" colspan="1"
                                                                            style="text-align: left;">
                                                                            <span class="material-symbols-outlined">
                                                                                search_hands_free
                                                                            </span>
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <form method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="source"
                                                                            value="{{ source }}">
                                                                        <input type="hidden" name="destination"
                                                                            value="{{ destination }}">
                                                                            <input type="hidden" name="traveldate" value="{{ traveldate }}">
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-2"
                                                                                    data-seat="W-2">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-2"
                                                                                    data-seat="A-2">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-1"
                                                                                    data-seat="A-1">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-1"
                                                                                    data-seat="W-1">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-4"
                                                                                    data-seat="W-4">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-4"
                                                                                    data-seat="A-4">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-3"
                                                                                    data-seat="A-3">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-3"
                                                                                    data-seat="W-3">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-6"
                                                                                    data-seat="W-6">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-6"
                                                                                    data-seat="A-6">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-5"
                                                                                    data-seat="A-5">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-5"
                                                                                    data-seat="W-5">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-8"
                                                                                    data-seat="W-8">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-8"
                                                                                    data-seat="A-8">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-7"
                                                                                    data-seat="A-7">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-7"
                                                                                    data-seat="W-7">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-10"
                                                                                    data-seat="W-10">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-10"
                                                                                    data-seat="A-10">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-9"
                                                                                    data-seat="A-9">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-9"
                                                                                    data-seat="W-9">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-12"
                                                                                    data-seat="W-12">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-12"
                                                                                    data-seat="A-12">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td colspan="2"></td>
                                                                            <td style="text-align: right;">
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="A-11"
                                                                                    data-seat="A-11">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    style="border: 0; background-color: white;"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top" title="W-11"
                                                                                    data-seat="W-11">
                                                                                    <span
                                                                                        class="material-symbols-outlined">
                                                                                        event_seat
                                                                                    </span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <button type="submit"
                                                                                class="btn btn-primary btn-block"
                                                                                style="margin: 0 auto; width: 50%; margin-top: 1rem; margin-bottom: 1rem;">Submit</button>
                                                                        </tr>
                                                                    </form>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!---------------------------------------Boarding or dropping points----------------------------------------->
                                                    <!-- <div class=" d-flex col-md-6">
                                                        <div class="col-6">
                                                            <div class="container">
                                                                <div class="card mt-3">
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <h5 style="font-size: medium;">Pickup Point
                                                                            </h5>
                                                                        </div>
                                                                        <div class="row">
                                                                            <select class="form-select" multiple
                                                                                aria-label="multiple select example"
                                                                                style="height: 313px;">
                                                                                <option selected>Open this select menu
                                                                                </option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="container">
                                                                <div class="card mt-3">
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <h5 style="font-size: medium;">Drop Point
                                                                            </h5>
                                                                        </div>

                                                                        <div class="row">
                                                                            <select class="form-select" multiple
                                                                                aria-label="multiple select example"
                                                                                style="height: 313px;">
                                                                                
                                                                                
                                                                                <option value=""></option>
                                                                                
                                                                            </select>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </div>


    <script>
        // Array to store selected seat numbers
        let selectedSeats = [];

        // Function to toggle seat selection
        function toggleSeat(button) {
            const seatNumber = button.dataset.seat;

            // Check if the seat is already selected
            const index = selectedSeats.indexOf(seatNumber);
            if (index !== -1) {
                // If selected, remove from array and reset button color
                selectedSeats.splice(index, 1);
                button.classList.remove('selected');
            } else {
                // If not selected, add to array and change button color
                selectedSeats.push(seatNumber);
                button.classList.add('selected');
            }

            console.log('Selected Seats:', selectedSeats);
        }
        const selectedSeatsInput = document.getElementById('selected_seats_input');
        selectedSeatsInput.value = JSON.stringify(selectedSeats);

        // Attach click event listeners to all seat buttons
        const seatButtons = document.querySelectorAll('button[data-seat]');
        seatButtons.forEach(button => {
            button.addEventListener('click', () => {
                toggleSeat(button);
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>